AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=eu-west-2

ENVIRONMENT=Development
PROJECT_NAME=lakehouse_realtime

S3_BUCKET_NAME=your_unique_bucket_name_here

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_PAGEVIEW=pageviews
KAFKA_CONSUMER_GROUP_AGGREGATION=pageviews-aggregation-group
KAFKA_CONSUMER_GROUP_RAW=pageviews-raw-group

ICEBERG_CATALOG_NAME=lakehouse
ICEBERG_RAW_DB=raw_db
ICEBERG_AGG_DB=agg_db
ICEBERG_RAW_TABLE=raw_pageviews
ICEBERG_AGG_TABLE=aggregated_pageviews